{{#cond prev '||' next}}
    <article class="read-next-story pagination-container{{#cond prev '&&' next}} with-both{{/cond}}" role="navigation">
    <section class="post">
        {{#if prev}}
            <a class="newer page" href="{{page_url prev}}">Newer Posts</a>
        {{/if}}
        {{#if next}}
            <a class="older page" href="{{page_url next}}">Older Posts</a>
        {{/if}}

        <small class="page-number">
            Page {{page}} of {{pages}}
        </small>
    </section>
</article>
{{/cond}}